:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height:100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-text{
    display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  border-radius: 16px;
  width: 460px;
  height: 253px;
  }
  
  .modal-image{
  width: 560px;
  height: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  
  }
  
  .ButtonApp{
    margin: 0 auto;
    display: flex;
   margin-top: 30px;
  }
  
  .img{
    width: 330px;
    height: 220px;
    margin-bottom: 15px;
  
  }
  
  .img-close-item{
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
  }
  
  .img-close{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.5s;
    user-select: none;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  button:hover {
    background: #747bff;
    color: #ffffff;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #eeeeee;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #dedddd;
    }
  }
  
  